<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736204566171-61tqqohcu8tq9r74gl6gcv486ohnp7b3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736204566171-61tqqohcu8tq9r74gl6gcv486ohnp7b3</string>
	<key>API_KEY</key>
	<string>AIzaSyC-uUYaOjn8F6ssr1CNeKzXENU6D-rCzSU</string>
	<key>GCM_SENDER_ID</key>
	<string>736204566171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.chu.AM5</string>
	<key>PROJECT_ID</key>
	<string>am5-hoseon</string>
	<key>STORAGE_BUCKET</key>
	<string>am5-hoseon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736204566171:ios:7aecf8c639690f6e75603e</string>
</dict>
</plist>